body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home-page {
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

home-page h1 {
  font-size: 65px;
}
